.partnerLogo {
  margin: 3% 0 3% 0;
}

.fundBlocks {
  margin-bottom: 5%;
}

.leanfoot {
  margin-bottom: 4%;
}

.disclaimer {
  margin-top: 5%;
    font-size: 14px;
}

.disclaimercontent {
  font-size: 12px;
}

.newStakingBanner {
  height: 17rem;
  margin-top: -1rem;

}

.blogStep {
  text-decoration: underline;
}

.landingimg {
  margin-bottom: 1.5%;
}
